<link rel="stylesheet" href="/style/pages/invite_register.css">

<div class="container">
{{#compare form.trench "==" '6'}}
    <h2>【{{form.comName}}】邀请您注册使用“百卓优采云进销存”</h2>
    <p>注册成功后，即可浏览商品、在线订货</p>
{{/compare}}

  <form action="/register" method="post" id="register" style="position:relative;">
    <ul class="fieldset">
      <li class="field">
        <div class="field-hd"><span class="required">*</span> 公司名称</div>
        <div class="field-bd">
          <input class="txt error" type="text" name="companyName" placeholder="填写公司全称" value="{{form.companyName}}" aria-invalid="true" />
          <span class="instant"></span>
        </div>
      </li>
      <li class="field">
        <div class="field-in">
          <div class="field-hd"><span class="required">*</span> 手机号</div>
          <div class="field-bd">
            <input class="txt" type="text" id="mobilePhone" name="mobilePhone" placeholder="手机号即为登录账号" maxlength="11" value="{{form.mobilePhone}}"/>
            <span class="instant"></span>
          </div>
        </div>
      </li>
      <li class="field field-valid">
        <div class="pop-valid-code" id="captcha"></div>
        <div class="field-hd"><span class="required">*</span> 验证码</div>
        <div class="field-bd">
          <input class="txt valid-code" type="text" name="code" value="" maxlength="6" placeholder="填写短信验证码" style="width:46%;">
          <button type="button" class="send-code js-sendCode">获取验证码</button>
          <button type="button" class="send-code" id="sendMobileCode" style="display: none">获取验证码</button>
          <span class="instant"></span>
        </div>
      </li>
      <li class="field field-pwd">
        <div class="field-hd"><span class="required">*</span> 密码</div>
        <div class="field-bd">
          <input class="txt" type="password" name="logonPassword" id="password" value="" placeholder="6-20位字母或数字" autocomplete="on"/>
          <i class="iconfont icon-pwd-hide"></i>
          <i class="iconfont icon-pwd-show" style="display: none;"></i>
          <span class="instant"></span>
        </div>
      </li>
    </ul>
    <input type="hidden" name="url" value="{{form.url}}">
    <input type="hidden" name="userIdEnc" value="{{form.userIdEnc}}">
    <input type="hidden" name="comName" value="{{form.comName}}">
    <input type="hidden" name="inviteType" value="{{form.inviteType}}">
    <input type="hidden" name="gender" value="{{form.gender}}">
    <input type="hidden" name="type" value="{{form.type}}">
    <input type="hidden" name="channel" value="{{form.source}}">
    <input type="hidden" name="source" value="{{form.trench}}">
    <input type="hidden" name="referer" value="{{form.referer}}">

    <div class="field-ope">
      <button type="submit" class="btn-register js-register">注册</button>
      <div class="agree">
        点击上方的“注册”按钮，即表示您同意 <br />
        <a href="http://www.abiz.com/info/ensure/46146.htm?uri=/agreement.htm&locale=zh_CN">《用户协议》</a> 及 <a href="http://www.abiz.com/info/ensure/63303.htm?uri=/policy.htm&locale=zh_CN">《隐私策略》</a>
      </div>
    </div>
  </form>
  <!--<p>已有账号？<a href="/login/mobile{{form.query}}">请登录绑定</a></p>-->
</div>

<div class="field-tip" style="display: none;"></div>

<div id="mpanel2" style="margin-top:20px;"></div>

<script>
  var pageError = '{{form.error}}';
</script>
<script src="/script/lib/jquery-3.3.1.min.js"></script>
<script src="/script/lib/jquery.cookie.js"></script>
<script src="/script/lib//FCaptcha-2.0.0.js" ></script>
<script src="/script/lib/jquery.validate.min.js"></script>
<script src="/script/lib/jquery.validate.extend.js"></script>
<script src="/script/lib/imagevalidate.js"></script>
<script src="/script/lib/miccn.validatecode-2.0.js"></script>
<script src="/script/register/inviteRegister.js"></script>























