<link rel="stylesheet" href="/style/pages/erpAds045.css">

<div class="fix-hd">
<div class="fix-logo">
    <img src="/images/server/ads/logo.png" alt="百卓优采-云进销存">
    <span class="top-title">丨让生产管理更智能</span>
</div>
</div>

<div class="figure">
    <div class="figure-view">
        <a href="{{registerUri}}">
            <img src="/images/server/ads/banner.png" alt="百卓优采-云进销存">
        </a>
    </div>
</div>


<div class="op-hd-2st">
    <p class="p-2st">产销一体化管理，无需实施，即买即用</p>
    <div class="div-2st-lst">
        <div>
            <ul class="ul-2st">
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-1.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-1-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">生产管理</h3>

                    <p class="p2-2st">
                        实时监控生产状态，有效配置设备、人工资源，<br/>统筹管理 生产经营情况；委外加工、BOM清单，提高生产效率
                    </p>
                </li>
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-2.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-2-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">采购管理</h3>

                    <p class="p2-2st">
                        支持以销定采，简化采购流程；订单规范管理<br/>订单交付提醒；智能补货提醒，节省人力成本
                    </p>
                </li>
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-3.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-3-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">销售管理</h3>

                    <p class="p2-2st">
                        支持微信对账，欠款追踪，一客一价，<br/>扫码开单， 蓝牙打印，自定义打印，业绩统计
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <ul class="ul-2st">
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-4.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-4-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">库存管理</h3>

                    <p class="p2-2st">
                        扫码快速出入库；实时库存预警，支持仓库调拨，<br/>有效避免压货损失
                    </p>
                </li>
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-5.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-5-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">财务管理</h3>

                    <p class="p2-2st">
                        开单同步财务，流水数据自动更新，<br/>智能利润分析，财务情况一目了然
                    </p>
                </li>
                <li class="li-2st">
                    <div class="li-2st-img-show">
                        <img src="/images/server/ads/2st-6.png" alt="tp">
                    </div>
                    <div class="li-2st-img">
                        <img src="/images/server/ads/2st-6-f.png" alt="tp">
                    </div>

                    <h3 class="h3-2st">报表管理</h3>

                    <p class="p2-2st">
                        内置多维度报表模板，可一键生成并导出，<br/> 助力企业经营分析，高效决策
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <div class="div-2st">
        <a href="{{registerUri}}"><span class="btn-down">免费试用</span></a>
    </div>
</div>

<div class="op-hd-3st">
    <p class="p-3st">特色功能介绍</p>
    <div class="menu-3st">
        <ul class="ul-3st features-menu">
            <li class="li-3st">生产管理</li>
            <li class="li-3st">生产进度看板</li>
            <li class="li-3st">多账号协同</li>
            <li class="li-3st">自定义打印</li>
        </ul>
    </div>

    <div class="div-3st">
        <div class="features-slide-in">
            <ul class="features-lst">
                <li class="features-tab-node js-tab-node">
                    <a href="{{registerUri}}">
                    <div class="img-3st-1-view view-3st-1">
                        <img src="/images/server/ads/3st-1.jpeg" alt="百卓优采-云进销存">
                    </div>
                    </a>
                </li>
                <li class="features-tab-node js-tab-node">
                    <a href="{{registerUri}}">
                    <div class="img-3st-1-view view-3st-2">
                        <img src="/images/server/ads/3st-2.jpeg" alt="百卓优采-云进销存">
                    </div>
                    </a>
                </li>
                <li class="features-tab-node js-tab-node">
                    <a href="{{registerUri}}">
                    <div class="img-3st-1-view view-3st-3">
                        <img src="/images/server/ads/3st-3.jpeg" alt="百卓优采-云进销存">
                    </div>
                    </a>
                </li>
                <li class="features-tab-node js-tab-node">
                    <a href="{{registerUri}}">
                    <div class="img-3st-1-view view-3st-4">
                        <img src="/images/server/ads/3st-4.jpeg" alt="百卓优采-云进销存">
                    </div>
                    </a>
                </li>
            </ul>
        </div>
        <!--<div>
            <a href="https://erp.abiz.com/register">
                <span class="btn-down">免费下载</span>
            </a>
        </div>-->
    </div>
</div>

<div class="op-hd-5st">
    <p class="p-5st">持续迭代升级，降本增效看得见</p>
    <div class="chart">
        <ul>
            <li class="chart-item extra">
                <div class="chart-up">
                    <span class="icon icon-arrow-down">↓</span>
                    <span class="num">20</span>
                    <span class="percent">%</span>
                </div>
                <p class="chart-down">缩短工单转换时间</p>
            </li>
            <li class="chart-item extra">
                <div class="chart-up">
                    <span class="icon icon-arrow-down">↓</span>
                    <span class="num">32</span>
                    <span class="percent">%</span>
                </div>
                <p class="chart-down">减少人工成本</p>
            </li>
            <li class="chart-item extra">
                <div class="chart-up">
                    <span class="icon icon-arrow-down">↓</span>
                    <span class="num">24</span>
                    <span class="percent">%</span>
                </div>
                <p class="chart-down">减少库存堆积</p>
            </li>
            <li class="chart-item extra">
                <div class="chart-up">
                    <span class="icon icon-arrow-down">↓</span>
                    <span class="num">78</span>
                    <span class="percent">%</span>
                </div>
                <p class="chart-down">缩短数据汇总分析时间</p>
            </li>
            <li class="chart-item">
                <div class="chart-up">
                    <span class="icon icon-arrow-up">↑</span>
                    <span class="num">56</span>
                    <span class="percent">%</span>
                </div>
                <p class="chart-down">提升员工协作效率</p>
            </li>
        </ul>
    </div>
    <div class="div-5st">
        <a href="{{registerUri}}"><span class="btn-down">免费试用</span></a>
    </div>
</div>

<div class="op-hd-6st">
    <p class="p-6st">选择百卓轻云ERP的理由</p>
    <ul class="reason-content">
        <li class="reason-item rl1">
            <image src="/images/server/ads/reason_01.png" class="icon"></image>
            <div class="reason-title">功能更实用</div>
            <div class="reason-text">
                工贸一体化管理，功能模块及角色权限按需 灵活配置。软件界面简洁，上手快。
            </div>
        </li>
        <li class="reason-item rl2">
            <image src="/images/server/ads/reason_02.png" class="icon"></image>
            <div class="reason-title">价格更优惠</div>
            <div class="reason-text">
                无需购买配置服务器，无需专人维护， 持续迭代升级。
            </div>
        </li>
        <li class="reason-item rl3">
            <image src="/images/server/ads/reason_03.png" class="icon"></image>
            <div class="reason-title">服务更满意</div>
            <div class="reason-text">
                专属顾问提供操作指导和解决方案，400热线、 QQ群、微信群全渠道客户服务。
            </div>
        </li>
    </ul>
    <div class="div-6st">
        <a href="{{registerUri}}"><span class="btn-down">免费试用</span></a>
    </div>
</div>



<div class="op-hd-footer">
    <div class="op-footer-1st">
        <p>Copyright&@2020 百卓网络科技有限公司 版权所有 备案证书号：苏ICP备17075644号</p>
        <p class="spc-p"> <img src="/images/server/ads/tip2.jpeg" alt="tp"><a target="_blank" href="http://www.beian.gov.cn/portal/index?token=27dc2885-c1c3-4894-9707-98d03b4296bc">苏公网安备 32011202000136号</a> <img src="/images/server/ads/tip1.jpeg" alt="tp"><a target="_blank" href="https://zzlz.gsxt.gov.cn/businessCheck/verifKey.do?showType=p&serial=32000020190705114322000017105695-SAIC_SHOW_10002020190709112415865&signData=MEQCIGnIjR5cnbqVwh8n/Omif+38gCSM/Z/K2wxkZiTvZ+O3AiBAczXVmlfT+9qvYsYJIZg4KvxYr/BZ3gUtdquvovz7mQ==">电子营业执照</a></p>
        <p>开发者：焦点科技股份有限公司</p>
        <p>APP版本：2.8.102.1 PC端版本：5.6.89.14</p>
        <p><a target="_blank" href="https://www.abiz.com/info/ensure/46146.htm">《会员协议》</a> <a target="_blank" href="https://www.abiz.com/info/ensure/63303.htm">《隐私政策》</a></p>
    </div>
    <div class="op-footer-1st">
        <p class="spec-p">联系我们</p>
        <p>客服电话：400 6979 890转1</p>
        <p>公司地址：江苏省南京市浦口区焦点科技大厦</p>
        <p>邮编：210031</p>
        <p>工作时间：周一到周五 09:00~18:00</p>
    </div>
    <div class="op-footer-1st">
        <img src="/images/server/ads/abiz_qrcode.png" alt="百卓优采-云进销存">
        <p style="text-align: center">官方公众号</p>
    </div>
</div>



<script src="/script/lib/jquery-3.3.1.min.js"></script>
<script src="/script/erpAds/045.js"></script>
